{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
    {{ super() }}
    <div class="container">
        <form class="form form-horizontal" method="post" role="form">
            {#            {{ form.hidden_tag() }}#}
            {#            {{ wtf.form_errors(form) }}#}
            {#            {{ wtf.form_field(form.email) }}#}
            {#            {{ wtf.form_field(form.password) }}#}
            {#        {{ wtf.form_field(form.agree) }}#}
            {#            {{ wtf.form_field(form.submit, button_map={'submit':'success'}) }}#}
            {{ wtf.quick_form(form, button_map={'submit':'success'}) }}
        </form>
        <p>
            New user?
            <a href="{{ url_for('auth.register') }}"> Click here to register
            </a>
        </p>
    </div>
{% endblock %}




