{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block content %}

    {{ super() }}

    <div class="container">
        <p> Hi! I'm here to help setup your index fund,
            the safest way to gain 5% on
            your investments (for comparison, CDs and
            savings accounts offer <1%.
        </p>

        <p> How much would you like to invest?
        </p>

        <form class="form form-horizontal" method="post" role="form">
            {{ wtf.quick_form(form, button_map={'submit':'success'}) }}
        </form>
    </div>
{% endblock %}
