<p> Hi! I'm here to help setup your index fund, the safest way to gain 5% on
    your investments (for comparison, CDs and
    savings accounts offer <1%.
</p>
<p> How much would you like to invest?
</p>

<form method="POST" role="form" class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in
            dollars)</label>

        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="exampleInputAmount"
                   placeholder="Amount">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>