{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    {{ super() }}
    <div class="container">

        <p>That's it, you're done! Would you like this to be a one-time
            investment
            or would you like to setup a schedule for auto-investing
            more in the future?</p>

        <form class="form form-horizontal" method="post" role="form">
            {{ wtf.quick_form(form, button_map={'submit':'success'}) }}
        </form>
    </div>
{% endblock %}
