<p>That's it, you're done! Would you like this to be a one-time investment
    or would you like to setup a schedule for auto-investing
    more in the future?</p>
<form method="POST" role="form">
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            Auto-invest
        </label>
    </div>
    <div class="checkbox">
        <label> <input type="checkbox" value="">
            One time
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
